<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->

    <link rel="icon" type="image" href="static\social_icons\favicon.png" />
    <script src="static\dependencies\jquery\3.6.0\jquery.min.js"></script>
    <script src="static\dependencies\bootstrap-5.1.3-dist\js\bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="static\dependencies\bootstrap-5.1.3-dist\css\bootstrap.min.css"
    />

    <title>localGPT</title>
  </head>
  <script>
    function openFileSelection() {
      const fileInput = document.getElementById("fileInput");
      fileInput.accept = ".csv, .pdf, .txt, .doc";
      fileInput.click();
      fileInput.addEventListener("change", handleFileSelection);
    }

    function handleFileSelection(event) {
      // You can perform some checks on the files here if you want
      // Open the modal after file selection
      const uploadModal = new bootstrap.Modal(
        document.getElementById("uploadModal"),
      );
      uploadModal.show();
    }

    function submitPromptForm() {
      // Show the modal
      $("#responseModal").modal("show");

      // Submit the form after a short delay to allow the modal to open
      setTimeout(function () {
        document.getElementById("promptForm").submit();
      }, 5);
    }

    function submitForm(params) {
      var form = document.getElementById("uploadForm");

      // Remove any existing hidden inputs to avoid duplicates
      var existingInputs = form.querySelectorAll("input[type='hidden']");
      existingInputs.forEach(input => input.remove());
      
      if (params.action) {
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "action";
        input.value = params.action;
        form.appendChild(input);
      }

      if (params.uploadPath) {
        var uploadPathInput = document.createElement("input");
        uploadPathInput.type = "hidden";
        uploadPathInput.name = "uploadPath";
        uploadPathInput.value = params.uploadPath;
        form.appendChild(uploadPathInput);
      }
      
      // After the form is submitted, close the current modal and open the new one.
      $("#uploadModal").on("hidden.bs.modal", function () {
        $("#ingesting-modal").modal("show");
      });

      $("#directoryModal").on("hidden.bs.modal", function () {
        $("#ingesting-modal").modal("show");
      });

      if (params.action === "add" || params.action === "reset") {
        $("#uploadModal").modal("hide");
        $("#directoryModal").modal("hide");
      }

      form.submit();
    }
  </script>

  <script>
    // On page load, check if there's a selected folder and show it
    $(document).ready(function() {
        var selectedDB = "{{ selected_folder }}";
        if (selectedDB) {
            $('#selectedFolderName').text(selectedDB);
            $('#selectedFolderDisplay').show();
        }
        var selectedOutputType = "{{ selected_prompt_template }}";
        if (selectedOutputType) {
          $('#selectedPromptTemplateName').text(selectedOutputType);
          $('#selectedPromptTemplateDisplay').show();          
        }

    });
  </script>

  <!-- Script that populates the database selections -->
  <script>
    $(document).ready(function() {

        // Function to fetch directory tree data and populate the SOURCE_DIRECTORY
        function fetchAndPopulate_source() {
            $.ajax({
                url: '/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                  listDirectories(data);
                },
                error: function(err) {
                    console.error('Error fetching directory tree:', err);
                },
                headers: {
                'X-Requested-With': 'fetchSourceDocDirectoryTree'  // Indicate AJAX request
                }
            });
        }

        // Function to fetch directory tree data and populate the DB
        function fetchAndPopulate_database() {
            $.ajax({
                url: '/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    populateDropdown(data);
                },
                error: function(err) {
                    console.error('Error fetching directory tree:', err);
                },
                headers: {
                'X-Requested-With': 'fetchDatabaseDirectoryTree'  // Indicate AJAX request
                }
            });
        }

        // Function to populate the dropdown with fetched data
        function populateDropdown(treeData) {
            var dropdown = $('#directoryDropdown');
            dropdown.empty(); // Clear existing options
            var defaultOption = $('<option value="" disabled selected>Select a directory</option>');
            dropdown.append(defaultOption);
            treeData.children.forEach(function(child) {
                var option = $('<option>').text(child.name).val(child.name); // Ensure the value is set
                dropdown.append(option);
            });
        }

        // Function to display directories in a list format inside the modal
        function listDirectories(treeData) {
            var directoryList = $('#directoryList');
            directoryList.empty(); // Clear existing items
            treeData.children.forEach(function(child) {
                var button = $('<button>')
                    .addClass('list-group-item list-group-item-action')
                    .text(child.name)
                    .val(child.name)
                    .on('click', function() {
                        $('.list-group-item').removeClass('active');
                        $(this).addClass('active');

                        // TESTING ONLY: Update the uploadDirectoryName span with the clicked directory
                        // $('#uploadDirectoryName').text(child.name);
                    });
                directoryList.append(button);
            });
        }

        // Function to submit the selected folder form
        function submitSelectedFolderForm(params) {
          var formData = new FormData();
          formData.append('selectedFolder', params.selectedFolderName);

          // Use AJAX to send the FormData object
          $.ajax({
            type: 'POST',
            url: '/',
            data: formData,
            processData: false,  // Prevent jQuery from automatically processing the data
            contentType: false,  // Set content type to false to prevent jQuery from setting it incorrectly
            beforeSend: function() {
              console.log("Sending AJAX request with data:", formData);
            },
            success: function(response) {
              console.log("Form submission successful:", response);
            },
            error: function(error) {
              // Handle error response
              console.error('Form submission error:', error);
            },
            complete: function(xhr, status) {
              console.log("AJAX request completed with status:", status);
            },
            headers: {
              'X-Requested-With': 'selectDBRequest'
            }
          });
        }

        // Event listener for the dropdown click event
        $('#directoryDropdown').on('click', function() {
            fetchAndPopulate_database(); // Fetch and update the dropdown options
        });

        // Event listener for dropdown change event
        $('#directoryDropdown').change(function() {
            var selectedFolder = $(this).val();
            $('#selectedFolderName').text(selectedFolder);
            submitSelectedFolderForm({selectedFolderName: selectedFolder});
            $('#selectedFolderDisplay').show(); // Show the selected folder display
        });

        // Event listener for modal show event
        $('#directoryModal').on('show.bs.modal', function() {
            fetchAndPopulate_source(); // Fetch and update the directory list in the modal
        });
    });
  </script>

  <!-- Script that selects and shows the prompt template request -->
  <script>
    $(document).ready(function() {
      // Function to submit the selected prompt form
      function submitPromptTemplateForm(params) {
        var formData = new FormData();
        formData.append('selectedPrompt', params.selectedPromptTemplateName);

        // Use AJAX to send the FormData object
        $.ajax({
          type: 'POST',
          url: '/',
          data: formData,
          processData: false, // Prevent jQuery from automatically processing the data
          contentType: false, // Set content type to false to prevent jQuery from setting it incorrectly
          beforeSend: function() {
            console.log("Sending AJAX request with data:", formData);
          },
          success: function(response) {
            console.log("Form submission successful:", response);
          },
          error: function(error) {
            // Handle error response
            console.error('Form submission error:', error);
          },
          complete: function(xhr, status) {
            console.log("AJAX request completed with status:", status);
          },
          headers: {
            'X-Requested-With': 'promptTemplateRequest'
          }
        });
      }

      // Event listener for dropdown change event
      $('#promptDropdown').change(function() {
        var selectedPromptTemplate = $(this).val();
        $('#selectedPromptTemplateName').text(selectedPromptTemplate);
        submitPromptTemplateForm({ selectedPromptTemplateName: selectedPromptTemplate });
        $('#selectedPromptTemplateDisplay').show(); // Show the selected prompt display
        // Reset the dropdown to the default value
        $(this).val('');
      });
    });
  </script>

  <script>
    function createFolder() {
      var newfolderName = document.getElementById('newFolderName').value.trim();
      if (!newfolderName) {
        alert("Please enter a folder name.");
        return;  // Prevent form submission if folder name is empty
      }

      // Get the existing folder names from the dropdown options
      var existingFolderNames = $('#directoryDropdown').find('option').map(function() {
          return $(this).val();
      }).get();

      // Check if the input folder name already exists
      if (existingFolderNames.includes(newfolderName)) {
          alert("Folder name already exists. Please enter a different name.");
          return;  // Prevent form submission if folder name already exists
      }
      submitFolderForm({newFolder: newfolderName});
    }
  </script>

  <script>
    function submitFolderForm(params) {
      var formData = new FormData();
      formData.append('newFolder', params.newFolder);

      // Use AJAX to send the FormData object
      $.ajax({
        type: 'POST',
        url: '/',
        data: formData,
        processData: false,  // Prevent jQuery from automatically processing the data
        contentType: false,  // Set content type to false to prevent jQuery from setting it incorrectly
        beforeSend: function() {
          console.log("Sending AJAX request with data:", formData);
        },
        success: function(response) {
          console.log("Form submission successful:", response);
          // Close the create folder modal
          $('#createFolderModal').modal('hide');

          // Handle success response
          $('#directoryModal').modal('show');
        },
        error: function(error) {
          // Handle error response
          console.error('Form submission error:', error);
        },
        complete: function(xhr, status) {
          console.log("AJAX request completed with status:", status);
        },
        headers: {
          'X-Requested-With': 'createNewFolderRequest'
        }
        
      });
    }
  </script>

  {% if show_response_modal %}
  <script>
    $(document).ready(function () {
      $("#response_modal").modal("show");
    });
  </script>
  {% endif %}
  <style>

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

    body {
      background-image: linear-gradient(180deg, rgba(49,39,71,1), rgba(54,44,78,1), rgba(34,27,52,1));
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:auto;
      z-index: 10;
      background-image: linear-gradient(180deg, rgba(36,26,54,0.5), rgba(36,26,54,0));
    }

    header #logobox {
      padding-left:5%;
      width:200px;
      height:80px;
    }

    header #logobox svg {
      width:100%;
      height:100%;
      padding:0;
    }

    header #headingbox {
      position: absolute;
      right:5%;
      top:0;
    }


    .container{
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
    } 

    .titlegpt{
       font-size: 9vw;
       color: white;
       font-family: 'Play', sans-serif;
    } 

    .search {
      width: 100%;
      box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
      background-color: #fff;
      padding: 4px;
      border-radius: 5px;
    }

    ::placeholder {
      color: rgb(110, 104, 104);
      opacity: 1;
    }

    .search-2 {
      position: relative;
      width: 100%;
    }

    .search-2 input {
      height: 45px;
      border: none;
      width: 100%;
      padding-left: 100px;
      padding-right: 200px;
    }

    .search-2 input:focus {
      border-color: none;
      box-shadow: none;
      outline: none;
    }

    .search-2 i {
      position: absolute;
      top: 12px;
      left: -10px;
      font-size: 24px;
      color: #eee;
    }

    .search-2 button {
      position: absolute;
      right: 100px;
      top: 0px;
      border: none;
      height: 45px;
      background-color: #b42b36;
      color: #fff;
      width: 90px;
      border-radius: 4px;
    }

    .search-2 button:hover {
      background: #b42b36;
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    .search-2 .upload_button {
      position: absolute;
      right: 1px;
      top: 0px;
      border: none;
      height: 45px;
      background-color: #b42b36;
      color: #fff;
      width: 90px;
      border-radius: 4px;
    }

    .cancel_button {
      border: none;
      height: 45px;
      background-color: gray;
      color: #fff;
      width: 90px;
      border-radius: 4px;
    }

    .cancel_button:hover {
      background: rgb(114, 113, 113);
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    .default_button {
      border: none;
      height: 45px;
      background-color: #b42b36;
      color: #fff;
      min-width: 90px;
      border-radius: 4px;
    }

    .default_button:hover {
      background: #b42b36;
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    .upload_button:hover {
      background: #b42b36;
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    .search-2 .tutorial_button {
      position: absolute;
      left: 1px;
      top: 0px;
      border: none;
      height: 45px;
      background-color: #b42b36;
      color: #fff;
      width: 90px;
      border-radius: 4px;
    }

    .tutorial_button:hover {
      background: #b42b36;
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    .form-control:focus {
      border-color: #bc13cf;
      box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
    }

    @media (max-width: 800px) {
      .search-2 i {
        left: 4px;
      }

      .search-2 input {
        padding-left: 34px;
      }

      .search-2 button {
        height: 37px;
        top: 5px;
      }

      .search-2 .tutorial_button {
        height: 37px;
        top: 5px;
      }

      .search-2 .upload_button {
        height: 37px;
        top: 5px;
      }

      .search-2 input {
        height: 45px;
        border: none;
        width: 100%;
        padding-left: 100px;
        padding-right: 200px;
      }

      .default_button {
        height: 37px;
      }

      .cancel_button {
        height: 37px;
      }
    }

    .accordion-button:focus {
      z-index: 3;
      border-color: #b42b36;
      box-shadow: 0 0 0 0.25rem rgba(153, 50, 168, 0.25);
    }

    .accordion-button:not(.collapsed) {
      color:#b42b36;
      background-color: #f5b3cb;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    }

    /* Styles for the selected folder display */
    .selected-folder {
        display: inline-block;
        padding: 5px 10px; /* Adjust padding as needed */
        margin-left: 10px;
        border: 3px solid #007bff; /* Thicker border */
        border-radius: 5px;
        color: #007bff; /* Text color */
    }

    .selected-folder span {
        font-weight: bold;
        margin-right: 5px; /* Space between "Selected Folder:" and folder name */
    }

    /* Styles for the dropdown menu */
    #directoryDropdown {
        padding: 10px;
        font-size: 16px;
        border: 2px solid #007bff;
        border-radius: 5px;
        width: 250px;
    }

    /* Hover effect for dropdown options */
    #directoryDropdown option:hover {
        background-color: #007bff;
        color: white;
    }

    /* Styles for the dropdown menu */
    #promptDropdown {
        padding: 10px;
        font-size: 16px;
        border: 2px solid #007bff;
        border-radius: 5px;
        width: 250px;
    }

    /* Hover effect for dropdown options */
    #promptDropdown option:hover {
        background-color: #007bff;
        color: white;
    }

    .search-2 .preview_button {
      position: absolute;
      left: 1px;
      top: 0px;
      border: 2px solid #007bff;
      height: 45px;
      background-color: #b42b36;
      color: #fff;
      width: 90px;
      border-radius: 4px;
    }

    .preview_button:hover {
      background: #b42b36;
      color: #ffffff;
      transition: all 0.2s ease;
      cursor: pointer;
    }
</style>
  <body>
    <header>
      <div ></div>
      <div id="logobox">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 80 76.2" style="enable-background:new 0 0 80 76.2;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#FFFFFF;}
          .st1{fill:#C41130;}
        </style>
        <g transform="matrix(29.663 0 0 29.663 -1199.9 -8970.9)">
          <rect x="40.4" y="302.4" class="st0" width="2.7" height="2.6"/>
          <path class="st1" d="M40.4,302.4v1.7l0.3-0.4h0.5l-0.8,1v0.3h2.7v-2.6L40.4,302.4z M41.3,303.7h0.9L42,304h-0.2l-0.6,0.8v-0.6
            l0.1-0.2h-0.3L41.3,303.7z M42.4,303.7h0.7l-0.2,0.3h-0.3l-0.1,0.1h0.3l-0.2,0.2h-0.3l-0.1,0.1h0.3l-0.2,0.3H42v-0.5L42.4,303.7z"
            />
        </g>
        </svg>
      </div>
      <div id="headingbox"><h1>&nbsp;</h1></div>
    </header>

    <div class="container">
      <div class="titlegpt">E.L.I.T.E
        <h1>Enhanced LLM for ITE</h1>
      </div>
      <div class="search">
        <div class="row">
          <div class="col-md-12">
            <div class="search-2">
              <form
                id="promptForm"
                action="{{ url_for('home_page') }}"
                method="POST"
              >
                <button
                  type="button"
                  class="tutorial_button"
                  data-bs-toggle="modal"
                  data-bs-target="#infographic_modal"
                >
                  Info
                </button>
                <i class="bx bxs-map"></i>
                <input
                  type="text"
                  name="user_prompt"
                  id="searchInput"
                  placeholder="Tell a summary of what you want to know?"
                />
                <button type="button" onclick="submitPromptForm()">
                  Generate
                </button>
              </form>
              <form
                id="uploadForm" 
                action="{{ url_for('home_page') }}"
                method="POST"
                enctype="multipart/form-data"
              >
                <input
                  type="file"
                  name="documents"
                  id="fileInput"
                  style="display: none"
                  multiple
                />
                <button
                  type="button"
                  class="upload_button"
                  onclick="openFileSelection()"
                >
                  Upload
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 20px;"></div>
        <!-- Dropdown for Directory Selection-->
        <div class="dropdown" style="display: flex; align-items: center;">
          <select id="directoryDropdown">
          <option value="" disabled selected>Select a directory</option>
          </select>
          <!-- Selected Directory display -->
          <div id="selectedFolderDisplay" class="selected-folder" style="margin-left: 10px;">
            <span>Selected Directory:</span> <span id="selectedFolderName">{{ selected_folder }}</span>
          </div>
        </div>
      
      <div style="margin-top: 20px;"></div>
        <!-- Dropdown for Prompt Template Selection-->
        <div class="dropdown" style="display: flex; align-items: center;">
          <select id="promptDropdown">
            <option value="" disabled selected>Select Output Type</option>
            <option value="Question Answer">Question & Answer (Default)</option>
            <option value="Lesson Plan">Lesson Plan Creation</option>
            <option value="Multiple Choice Question">Multiple Choice Question</option>
            <option value="SAQ">Short Answer Questions (Coming soon...)</option>
            <option value="Lab Sheet">Labsheet Creation (Coming soon...)</option>
            <!-- Add more options as needed -->
          </select>
          <!-- Selected Prompt Template display -->
          <div id="selectedPromptTemplateDisplay" class="selected-folder" style="margin-left: 10px;">
            <span>Selected Output:</span> <span id="selectedPromptTemplateName">{{ selected_prompt_template }}</span>
          </div>
          <!-- <button
          type="button"
          class="preview_button"
          data-bs-toggle="modal"
          data-bs-target="#preview_modal"
          >
          Preview
          </button> -->

        </div>

      <!-- Display selected directory -->
      <!-- <div id="uploadDirectoryDisplay" style="margin-top: 20px; border: 2px solid #000; padding: 10px; border-radius: 5px;">
        <span>File Upload Location:</span> <span id="uploadDirectoryName"></span>
      </div>
    </div> -->

</html>
    <!-- For some reason the script needs to go here to make the the enter key also trigger the generating response modal -->
    <script>
      document
        .getElementById("searchInput")
        .addEventListener("keydown", function (event) {
          if (event.keyCode === 13) {
            event.preventDefault(); // Prevent form submission
            submitPromptForm(); // Call the function to show the modal
          }
        });
    </script>

    <!-- Chat Response Modal -->
    <div
      class="modal fade"
      id="response_modal"
      tabindex="-1"
      aria-labelledby="response_modal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5
              class="modal-title w-100"
              id="response_modal"
              style="color: #292b2c"
            >
              Response
            </h5>
          </div>
          <div class="modal-body text-center" style="color: #292b2c">
            <strong>Search</strong>
            <br />
            <p>{{response_dict['Prompt']}}</p>

            <strong>Answer</strong>
            <br />
            <p style="margin-left: 5%; margin-right: 5%">
              {{response_dict['Answer']}}
            </p>

            <strong>Sources</strong>
            <div
              class="accordion"
              id="accordionExample"
              style="margin-top: 10px"
            >
              {% for item in response_dict['Sources'] %}
              <div class="accordion-item">
                <h2
                  class="accordion-header text-center"
                  id="heading{{ loop.index0 }}"
                >
                  <button
                    class="accordion-button d-block text-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ loop.index0 }}"
                    aria-expanded="true"
                    aria-controls="collapse{{ loop.index0 }}"
                  >
                    {{ item[0] }}
                    <!-- Source -->
                  </button>
                </h2>
                <div
                  id="collapse{{ loop.index0 }}"
                  class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                  aria-labelledby="heading{{ loop.index0 }}"
                  data-bs-parent="#accordionExample"
                >
                  <div
                    class="accordion-body"
                    style="
                      text-align: justify;
                      margin-left: 5%;
                      margin-right: 5%;
                    "
                  >
                    {{ item[1] }}
                    <!-- Content -->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="default_button"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Generating Response Modal -->
    <div
      class="modal fade"
      id="responseModal"
      tabindex="-1"
      aria-labelledby="responseModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5
              class="modal-title justify-content-center"
              id="responseModalLabel"
            >
              Generating Response
            </h5>
          </div>
          <div class="modal-body text-center">
            <img src="static/social_icons/loading.gif" alt="Loading" style="display: block; margin: 0 auto; width: 10%;">
            <p>Please wait...</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Directory Listing & Upload Modal -->
    <div
      class="modal fade"
      id="directoryModal"
      tabindex="-1"
      aria-labelledby="directoryModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5 class="modal-title justify-content-center" id="directoryModalLabel">
              Select a Folder to upload your document to
            </h5>
          </div>
          <div class="modal-body margin-left: 5%; text-align: left;">
            <ul>
              <li>
                Select the <span style="background-color: #2b2bb4; color: white">name of the folder</span> you want to upload your file to and Click
                <span style="background-color: #b42b36; color: white">Upload to Folder</span> if
                you want to add the documents to that folder
              </li>
              <br />
              <li>
                Click
                <span style="background-color: #b42b36; color: white">Create Folder</span>
                to create a new folder for your documents to be uploaded to, you will have to upload to that new folder later on.
              </li>
              <br />
              <li>
                Click
                <span style="background-color: gray; color: white">Back</span>
                to return to the previous menu.
              </li>
            </ul>
          </div>
          <div class="modal-body">
            <div id="directoryList" class="list-group">
              <!-- Directories will be listed here as buttons -->
            </div>
          </div>
          <div class="modal-footer">
            <button 
              type="submit" 
              name="button_clicked"
              value="add_document"
              class="default_button"
              onclick="submitForm({ action: 'add', uploadPath: $('.list-group-item.active').text()})"
              >
              Upload to Folder
            </button>
            <button 
            type="button" 
            class="default_button"
            data-bs-toggle="modal"
            data-bs-target="#createFolderModal"
              >
            Create Folder
            </button>
            <button 
              type="button" 
              class="cancel_button" 
              data-bs-toggle="modal" 
              data-bs-target="#uploadModal"
              >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Upload Confirmation Modal -->
    <div
      class="modal fade"
      id="uploadModal"
      tabindex="-1"
      aria-labelledby="uploadModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5
              class="modal-title justify-content-center"
              id="uploadModalLabel"
            >
              File Upload Confirmation
            </h5>
          </div>
          <div class="modal-body margin-left: 5%; text-align: left;">
            <ul>
              <li>
                Click
                <span style="background-color: #b42b36; color: white">Add</span> if
                you want to add the documents selected to your pre-existing
                folders OR create a new folder to add to.
              </li>
              <br />
              <li>
                Click
                <span style="background-color: #b42b36; color: white">Reset</span>
                if you want to reset your knowledge base, and then use your new
                documents as your new knowledge base.
              </li>
              <br />
              <li>
                Click
                <span style="background-color: gray; color: white">Cancel</span>
                if you don't want to make any changes.
              </li>
            </ul>
          </div>
          <div class="modal-footer justify-content-center">
            <button
            type="button"
            class="default_button"
            data-bs-toggle="modal"
            data-bs-target="#directoryModal"
            >
            Add
            </button>

            <button
              type="submit"
              name="button_clicked"
              value="reset_document"
              class="default_button"
              onclick="submitForm({action: 'reset'})"
            >
              Reset
            </button>

            <button type="button" class="cancel_button" data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Folder Modal -->
    <div
      class="modal fade"
      id="createFolderModal"
      tabindex="-1"
      aria-labelledby="createFolderModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createFolderModalLabel">Create New Folder</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newFolderName">Folder Name</label>
              <input type="text" class="form-control" id="newFolderName" placeholder="Enter folder name">
            </div>
          </div>
          <div class="modal-footer">
            <button 
              type="button" 
              class="default_button" 
              onclick="createFolder()"
              >
              Create
            </button>
            <button 
              type="button" 
              class="cancel_button" 
              data-bs-toggle="modal" 
              data-bs-target="#directoryModal"
              >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Ingesting Documents Modal -->
    <div
      class="modal fade"
      id="ingesting-modal"
      tabindex="-1"
      role="dialog"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5 class="modal-title">Ingesting Documents...</h5>
          </div>
          <div class="modal-body text-center">
            <img src="static/social_icons/loading.gif" alt="Loading" style="display: block; margin: 0 auto; width: 10%;">
            <p>Please wait while we ingest the documents.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Infographic Modal -->
    <div
      class="modal fade"
      id="infographic_modal"
      tabindex="-1"
      aria-labelledby="infographic_modal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5
              class="modal-title w-100"
              id="infographic_modal"
              style="color: #292b2c"
            >
              About ELITE
            </h5>
          </div>
          <div class="modal-body" style="color: #292b2c">
            <img src="static\social_icons\ELITE Infographic.png" alt="Infographic Image" style="display: block; margin: 0 auto 10px auto; width: 100%;">
          </div>
          <div class="modal-footer justify-content-center">
            <button
            type="button"
            class="default_button"
            data-bs-toggle="modal"
            data-bs-target="#tutorial_modal"
            >
              Tutorial
            </button>
            <button
              type="button"
              class="default_button"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tutorial Modal -->
    <div
      class="modal fade"
      id="tutorial_modal"
      tabindex="-1"
      aria-labelledby="tutorial_modal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5
              class="modal-title w-100"
              id="tutorial_modal"
              style="color: #292b2c"
            >
              Tutorial
            </h5>
          </div>
          <div class="modal-body" style="color: #292b2c">
            <strong style="margin-left: 5%; text-align: left">About</strong>
            <br />
            <p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              Introducing a cutting-edge application that empowers users to
              leverage the capabilities of a language model, even in the absence
              of an internet connection. This advanced tool serves as an
              indispensable resource for accessing information beyond the
              confines of traditional language model tools such as chatGPT.
              <br /><br />
              One of the key advantages of this application is the preservation
              of data control. This feature becomes particularly valuable when
              handling sensitive data that must remain within the confines of an
              organization or personal documents that warrant utmost
              confidentiality, eliminating the need to transmit information
              through third-party channels.
              <br /><br />
              Seamlessly integrating personal documents into the system is
              effortless, ensuring a smooth user experience. Whether in the form
              of text, PDF, CSV, or Excel files, users can conveniently provide
              the desired information for inquiry. The application swiftly
              processes these documents, effectively creating a comprehensive
              database for the model to leverage, enabling accurate and
              insightful responses.
              <br /><br />
              A notable benefit of this approach lies in its efficient resource
              utilization. Unlike the resource-intensive retraining processes
              employed by alternative methods, the ingestion of documents within
              this application demands significantly less compute power. This
              efficiency optimization allows for a streamlined user experience,
              saving both time and computational resources.
              <br /><br />
              Discover the unparalleled capabilities of this technical marvel,
              as it enables users to tap into the full potential of language
              models, all while operating offline. Experience a new era of
              information access, bolstering productivity and expanding
              possibilities. Embrace this powerful tool and unlock the true
              potential of your data today.
            </p>
            <strong style="margin-left: 5%; text-align: left"
              >Upload Documents</strong
            >
            <br />
            <p
              style="
                line-height: 1.75;
                margin-left: 5%;
                margin-right: 5%;
                text-align: left;
              "
            >
              1. To upload documents for the app to ingest as its new knowledge
              base click the
              <span style="background-color: #b42b36; color: white">Upload</span>
              button.
              <br />
              2. Select the documents you want to serve as your new knowledge
              base to converse with.
              <br />
              3. Then you will be prompted with a confirmation to either
              <span style="background-color: #b42b36; color: white">Add</span> the
              documents to your knowledge base,
              <span style="background-color: #b42b36; color: white">Reset</span>
              your knowledge base with the documents you just selected, or
              <span style="background-color: gray; color: white">Cancel</span>
              the upload.
              <br />
              4. When you click on
              <span style="background-color: #b42b36; color: white">Add</span>, you can add the documents to the existing folders by clicking on the name follwed by clicking on the 
              <span style="background-color: #b42b36; color: white">Upload to Folder</span>
              Button, or click on 
              <span style="background-color: #b42b36; color: white">Create Folder</span>
              to create a new folder.
              <br />
              5. There will be a short wait time as the documents get ingested
              into the vector database as your new knowledge base.
            </p>
            <a
              href="static/document_examples/constitution.pdf"
              style="margin-left: 5%"
              download
            >
              <button class="default_button" style="width: auto">
                Example Constitution
              </button>
            </a>
            <a href="static/document_examples/news_articles.zip" download>
              <button class="default_button" style="width: auto">
                Example News Articles
              </button>
            </a>

            <br />
            <br />
            <strong style="margin-left: 5%; text-align: left">Using Extensions</strong>
            <p
              style="
                line-height: 1.75;
                margin-left: 5%;
                margin-right: 5%;
                text-align: left;
              "
            >
              1. Before asking a question, there are two drop down menus for you to select which folder to get a response from, and what type of output you prefer.
              <br />
              2. Click on 
              <span style="background-color: #b42b36; color: white">Select a Directory</span> to get the list that you have already ingested earlier.
              <br />
              3. Click on 
              <span style="background-color: #b42b36; color: white">Select Output Type</span> to use the appropriate extension for your use case.
              <br />
              4. Once done, you may begin asking a question to generate a response.
            </p>
            <br />
            <strong style="margin-left: 5%; text-align: left">Generating Response</strong>
            <p
              style="
                line-height: 1.75;
                margin-left: 5%;
                margin-right: 5%;
                text-align: left;
              "
            >
              1. In order to ask a question, type a question into the search bar
              like:
              <br />
              2.
              <span style="background-color: gray; color: white"
                >Give me a summary of the documents</span
              >
              <br />
              3. Hit enter on your keyboard or click
              <span style="background-color: #b42b36; color: white">Generate</span>
              <br />
              4. Wait while the LLM model consumes the prompt and prepares the
              answer.
              <br />
              5. Once done, it will print the answer and the 4 sources it used
              as context from your documents; you can then ask another question
              without re-running the script, just wait for the prompt again.
            </p>
            <br />
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="default_button"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Preview Modal -->
    <div
      class="modal fade"
      id="preview_modal"
      tabindex="-1"
      aria-labelledby="preview_modal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5
              class="modal-title w-100"
              id="preview_modal"
              style="color: #292b2c"
            >
              Mobile Application Development - Multiple Choice Questions -
            </h5>
          </div>
          <div class="modal-body" style="color: #292b2c">
            <p><strong style="margin-left: 5%; text-align: left">Q1: Which of the following programming languages is commonly used for native Android app development?</strong>
            <br /><p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              A) Java<br />B) Swift<br />C) Python<br />D) Ruby<br /> Answer: A (Java)
            <br /><br /></p>
            <p><strong style="margin-left: 5%; text-align: left">Q2: Which mobile platform uses Objective-C and Swift as the primary programming languages?</strong>
            <br /><p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              A) Android<br />B) iOS<br />C) Windows Phone<br />D) Blackberry OS<br /> Answer: B (iOS)
            <br /><br /></p>
            <p><strong style="margin-left: 5%; text-align: left">Q3: What is the purpose of an APK file in Android app development?</strong>
            <br /><p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              A) It contains the source code of the app<br />B) It is used for testing purposes only<br />C) It is the installation file for Android apps<br />D) It is used for debugging Android apps<br /> Answer: C (It is the installation file for Android apps)
            <br /><br /></p>
            <p><strong style="margin-left: 5%; text-align: left">Q4: Which of the following is NOT a commonly used mobile app development framework?</strong>
            <br /><p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              A) React Native<br />B) Xamarin<br />C) Django<br />D) Flutter<br /> Answer: C (Django)
            <br /><br /></p>
            <p><strong style="margin-left: 5%; text-align: left">Q5: What is the purpose of Xcode in iOS app development?</strong>
            <br /><p style="text-align: justify; margin-left: 5%; margin-right: 5%">
              A) It is an iOS emulator for testing apps<br />B) It is a version control system for iOS projects<br />C) It is an integrated development environment (IDE) for iOS app development<br />D) It is a database management tool for iOS apps<br /> Answer: C (It is an integrated development environment (IDE) for iOS app development)
            <br /><br /></p>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="default_button"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>